button#capture_button {
    font-size: x-large;
    margin: 16px;
    background-color: #333;
    color: #fff;
    padding: 15px 60px;
}

button#capture_button:hover {
    background-color: #111;
}

div#videos {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;

    div.video-item {
        display: inline-block;
        margin: 8px;

        video {
            transition: border-color 1s ease;
        }

        video:not([src]) {
            border: solid 6px #ff0000;
        }

        video[src] {
            border: solid 6px #000;
        }
    }
}

div.center-items {
    text-align: center;
}

div.control-item {
    display: flex;
    justify-content: center;
    position: relative;
}

a.download-anchor {
    font-size: large;
    margin: auto;
}

button.stop-button {
    font-size: large;
    margin: 0;
    position: absolute;
    right: 0;
}